---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero-section";
import Header from "../components/header";
import "../styles/global.css";
import PortfolioSection from "../components/portfolio-section.tsx";
import { SendmailCTASection } from "../components/sendmail-cta-section.tsx";
import Contact from "../components/contact.tsx";
import React from "react";
import Main from "../components/main";
---

<Layout title="Welcome to Astro.">
  <main>
    <Main client:load />

    <!-- <AnimatedSection client:load /> -->
  </main>
</Layout>
