---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero-section";
import Header from "../components/header";
import "../styles/global.css";
import PortfolioSection from "../components/portfolio-section.tsx";
import { SendmailCTASection } from "../components/sendmail-cta-section.tsx";
import Contact from "../components/contact.tsx";
---

<Layout title="Welcome to Astro.">
<main>
<Header client:load />
<Hero />
<PortfolioSection client:load />
<Contact client:load />

</main>
</Layout>
