---
interface Props {
  title: string;
}
import image from "../../id.png";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I am Idongesit Ntuk a senior block chain developer based in Nigeria"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="../../fav/favicon.ico" />

    <link rel="apple-touch-icon" href="../../fav/apple-touch-icon.png" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../public/fav/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../fav/favicon-16x16.png"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={'../../id.png'} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:image" content={'../../id.png'} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
